<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time" default="false"/>
    <arg name="description_name" default="robot_description"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find susan_description)/urdf/susan_description.xacro'" />
    <param name="use_sim_time" value="$(arg use_sim_time)" />
    
</launch>
